@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}
@media (min-width: 640px) {
  #Login-page{
  background: url('/background2.svg');
  background-color: #29292A;
  background-size: auto;
}
}